<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>go with road | Zeal</title>
</head>
<style>
n
{
  margin-left: 150px;
}
nr
{
  margin-left: 170px;
}
nrr
{
  margin-left: 192px;
}
r
{
  margin-left: 230px;
}
</style>
<header>
<h1>
Zeal Road Transport Booking
</h1>
</header>
<body>
<center>
<form action="">
<label>First Name:</label>
<n><input type="text"></n><br></br>
<label>Last Name:</label>
<n><input type="text"></n><br></br>
<label>Address:</label>
<nr><input type="text"></nr><br></br>
<label>City:</label>
<nrr><input type="text"></nrr><br></br>
<label>Country:</label>
<r><select>
<option>Select country</option>
<option>Malawi</option>
<option>South Africa</option>
<option>Botswana</option>
<option>Zambia</option>
<option>Zimbabwe</option>
</select></r>

</form>
</center>

</body>
</html>